/* COMMON */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  overflow-y: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #333;
}
.wrap {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 1240px;
  height: 250px;
  flex-wrap: wrap;
}
.wrap > div {
  display: flex; align-items: center; justify-content: space-between;
  flex-direction: column;
  width: 240px; height: 200px;
  margin: 0 auto;
}

input[type="checkbox" i]{
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: auto;
  padding: initial;
  border: initial;
  overflow: hidden;
}
label{
  display: flex; justify-content: center; align-items: center;
  width: 200px; height: 50px;
  cursor: default;
}
p {
  display: flex; justify-content: center; align-items: center;
  width: 200px; height: 150px;
  font-weight: 700;
  font-size: 14px;
  color: #9e9e9e;
  text-align: center;
}
.center {
  margin: auto 0;
}

svg {
  display: flex; align-items: center; justify-content: center;
}


.top {
  top: 20px;
}

.menu_part,
.menu_part_left, 
.menu_part_right {
  background-color: #fff !important;
}

/*!
 * showroom
 * input[check] animation
 * css - hamburger menu-1
 * 기본(basic)
 */
 #menu-1 {
	display: none;
}
.menu-1 .menu {
  transition: all 0.27s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}
.menu-1 .menu_part {
  width: 30px; 
  height: 2px; 
  position: absolute;
  background: #313d44; 
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 1px;
  transition: all 0.27s cubic-bezier(0.7, 0.1, 0.1, 1.7);
  top: calc(50% - ((2.5px)) + -1px);
}

.menu-1 .menu_part:nth-of-type(1) {
	top: calc(50% - ((2.5px)) + -5px);
	width: 30px;
  transition: all 0.48s ease-in-out;
}
.menu-1 .menu_part:nth-of-type(2) {
	top: calc(50% - ((2.5px)) + 2px);
	width: 30px;
  transition: all 0.48s ease-in-out;
}

/* checked */
input#menu-1:checked + label .menu {
transform:scale(1.1400000000000001) rotate(0deg); 
}
input#menu-1:checked + label .menu .menu_part:nth-of-type(1) {
transform: rotate(45deg);
top: calc(50% - (1px))!important;
width: 30px !important;
transition: all 0.48s ease-in-out;
}
input#menu-1:checked + label .menu .menu_part:nth-of-type(2) {
transform: rotate(-45deg);
top: calc(50% - (1px))!important;
width: 30px !important;
transition: all 0.48s ease-in-out;
}/* //checked */

/*!
 * showroom
 * hover후 기본(basic)
 * css - hamburger menu-2
 */
 #menu-2 {
	display: none;
}
.menu-2 .menu {
  transition: all 0.27s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}
.menu-2 .menu_part {
  width: 30px; 
  height: 2px; 
  position: absolute;
  background: #313d44; 
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 1px;
  transition: all 0.27s cubic-bezier(0.7, 0.1, 0.1, 1.7);
  top: calc(50% - ((2.5px)) + -1px);
}
.menu-2 .menu_part:nth-of-type(1) {
	top: calc(50% - ((2.5px)) + -5px);
	width: 30px;
  transition: all 0.48s ease-in-out;
}
.menu-2 .menu_part:nth-of-type(2) {
	top: calc(50% - ((2.5px)) + 2px);
	width: 30px;
  transition: all 0.48s ease-in-out;
}

/*checked*/
input#menu-2:checked + label .menu {
transform:scale(1.1400000000000001) rotate(0deg); 
}
input#menu-2:checked + label .menu .menu_part:nth-of-type(1) {
transform: rotate(45deg);
top: calc(50% - (1px))!important;
width: 30px !important;
transition: all 0.48s ease-in-out;
}
input#menu-2:checked + label .menu .menu_part:nth-of-type(2) {
transform: rotate(-45deg);
top: calc(50% - (1px))!important;
width: 30px !important;
transition: all 0.48s ease-in-out;
}/* //checked*/

/*hover*/
.menu-2 .menu:hover .menu_part:nth-child(1) {transition:all 0.2s linear; transform: translateY(-2px);} 
.menu-2 .menu:hover .menu_part:nth-child(2) {transition:all 0.2s linear; transform: translateY(2px);} 
/* //hover*/

/*!
 * showroom
 * input[check] animation
 * 회전
 * css - hamburger menu-3
 */
 #menu-3 {
	display: none;
}
.menu-3 .menu {
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}
.menu-3 .menu_part {
  width: 30px; 
  height: 2px; 
  position: absolute;
  background: #313d44; 
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.8, 0.1, 0.1, 1.2);
  top: calc(50% - ((5px)) + -2px);
}

.menu-3 .menu_part:nth-of-type(1) {
	top: calc(50% - ((5px)) + -2px);
	width: 30px
}
.menu-3 .menu_part:nth-of-type(2) {
	top: calc(50% - ((5px)) + 4px);
	width: 30px
}

/*checked*/
input#menu-3:checked + label .menu {
  transition: all 0.5s ease;
  transform:scale(1.08) rotate(180deg); 
}
input#menu-3:checked + label .menu .menu_part:nth-of-type(1) {
  transition: all 0.5s ease;
  transform: rotate(45deg);
  top: calc(50% - (2px))!important;
  width: 30px !important;
}
input#menu-3:checked + label .menu .menu_part:nth-of-type(2) {
  transition: all 0.5s ease;
  transform: rotate(-45deg);
  top: calc(50% - (2px))!important;
  width: 30px !important;
}/*checked*/

/*!
 * showroom
 * 
 * css - hamburger menu-4
 */
 #menu-4 {
	display: none;
}
.menu-4 .menu {
  transition: all 0.5s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
}
.menu-4 .menu_part {
  width: 30px; 
  height: 2px; 
  position: absolute;
  background: #313d44; 
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.8, 0.1, 0.1, 1.2);
  top: calc(50% - ((5px)) + -2px);
}

.menu-4 .menu_part:nth-of-type(1) {
	top: calc(50% - ((5px)) + -2px);
	width: 30px
}
.menu-4 .menu_part:nth-of-type(2) {
	top: calc(50% - ((5px)) + 4px);
	width: 30px
}

/*checked*/
input#menu-4:checked + label .menu {
  transform:scale(1.08) rotate(180deg); 
}
input#menu-4:checked + label .menu .menu_part:nth-of-type(1) {
  transform: rotate(45deg);
  top: calc(50% - (2px))!important;
  width: 30px !important;
}
input#menu-4:checked + label .menu .menu_part:nth-of-type(2) {
  transform: rotate(-45deg);
  top: calc(50% - (2px))!important;
  width: 30px !important;
}/* //checked*/

/*hover*/
.menu-4 .menu:hover .menu_part:nth-child(1) {transition:all 0.2s linear; transform: translateY(-2px);} 
.menu-4 .menu:hover .menu_part:nth-child(2) {transition:all 0.2s linear; transform: translateY(2px);} 
/*//hover*/

/*!
 * showroom
 * 
 * css - hamburger menu-5
 */
 #menu-5 {
	display: none;
}
.menu-5 .menu {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
}
.menu-5 .menu .menu_part {
  background-color: #000;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:30px;
  height: 2px;
  transition-duration: 500ms;
  margin: auto;
}

.menu-5 .menu_part:nth-of-type(1) {
  top: calc(50% - ((5px)) + -2px);
  left: 0px;
  right: 0;
}
.menu-5 .menu_part:nth-of-type(2) {
  top: calc(50% - ((5px)) + 4px);
  left: 0px;
  opacity:1;
  right: 0;
}
.menu-5 .menu_part:nth-of-type(3) {
  top: calc(50% - ((5px)) + 10px);
  left: 0px;
  right: 0;
}

/*checked*/
input#menu-5:checked + label .menu .menu_part:nth-of-type(1) {
  top: calc(50% - (2px))!important;
  transform: rotate(45deg);
}
input#menu-5:checked + label .menu .menu_part:nth-of-type(2) {
  opacity: 0;
}
input#menu-5:checked + label .menu .menu_part:nth-of-type(3) {
  transform: rotate(-45deg);
  top: calc(50% - (2px))!important;
}/*checked*/

/*!
 * showroom
 * 
 * css - hamburger menu-6
 */
 #menu-6 {
	display: none;
}

.menu-6 .menu {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
}

.menu-6 .menu .menu_part {
  background-color: #000;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:30px;
  height: 2px;
  transition-duration: 500ms;
  margin: auto;
}

.menu-6 .menu_part:nth-of-type(1) {
  top: calc(50% - ((5px)) + -2px);
  left: 0px;
  right: 0;
}
.menu-6 .menu_part:nth-of-type(2) {
  top: calc(50% - ((5px)) + 4px);
  left: 0px;
  opacity:1;
  right: 0;
}
.menu-6 .menu_part:nth-of-type(3) {
  top: calc(50% - ((5px)) + 10px);
  left: 0px;
  right: 0;
}

/* checked */
input#menu-6:checked + label .menu .menu_part:nth-of-type(1) {
  top: calc(50% - (2px))!important;
  transform: rotate(45deg);
}
input#menu-6:checked + label .menu .menu_part:nth-of-type(2) {
  opacity: 0;
}
input#menu-6:checked + label .menu .menu_part:nth-of-type(3) {
  transform: rotate(-45deg);
  top: calc(50% - (2px))!important;
}/* checked */

/* hover */
.menu-6:hover .menu_part:nth-of-type(1) {top: calc(50% - ((5px)) + -6px); left: 0px; right: 0;}
.menu-6:hover .menu_part:nth-of-type(2) {top: calc(50% - ((5px)) + 4px ); left: 0px; right: 0;}
.menu-6:hover .menu_part:nth-of-type(3) {top: calc(50% - ((5px)) + 14px); left: 0px; right: 0;}
/* hover */

/*!
 * showroom
 * 
 * css - hamburger menu-7
 */

 #menu-7 {
  display: none;
 } 
 .menu-7 .menu {
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
 }
 .menu-7 .menu .menu_part {
  width: 30px; 
  height: 2px; 
  position: absolute;  
  background-color: #000;
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 0px;
  transition: all 0.48s cubic-bezier(0.5, 0, 0.4, 1.9);
}

/* 간격(gap)은 6px로 고정 */
.menu-7 .menu_part:nth-of-type(1) {
	top: calc(50% - ((2.5px)) + -2px);
	width: 30px
}
.menu-7 .menu_part:nth-of-type(2) {
	top: calc(50% - ((2.5px)) + 4px);
	width: 30px
}

/* checked */
input#menu-7:checked + label .menu {
  transform:scale(1) rotate(180deg); 
}
input#menu-7:checked + label .menu .menu_part:nth-of-type(1) {
  transform: rotate(225deg);
  top: calc(50% - (1px))!important;
}
input#menu-7:checked + label .menu .menu_part:nth-of-type(2) {
  transform: rotate(-225deg);
  top: calc(50% - (1px))!important;
}/* //checked */

/*!
 * showroom
 * 
 * css - hamburger menu-8
 */

 #menu-8 {
  display: none;
 } 
 .menu-8 .menu {
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
 }
 .menu-8 .menu .menu_part {
  width: 30px; 
  height: 2px; 
  position: absolute;  
  background-color: #000;
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 0px;
  transition: all 0.48s cubic-bezier(0.5, 0, 0.4, 1.9);
}

/* 간격(gap)은 6px로 고정 */
.menu-8 .menu_part:nth-of-type(1) {
	top: calc(50% - ((2.5px)) + -2px);
	width: 30px
}
.menu-8 .menu_part:nth-of-type(2) {
	top: calc(50% - ((2.5px)) + 4px);
	width: 30px
}

/* checked */
input#menu-8:checked + label .menu {
  transform:scale(1) rotate(180deg); 
}
input#menu-8:checked + label .menu .menu_part:nth-of-type(1) {
  transform: rotate(225deg);
  top: calc(50% - (1px))!important;
}
input#menu-8:checked + label .menu .menu_part:nth-of-type(2) {
  transform: rotate(-225deg);
  top: calc(50% - (1px))!important;
}/* //checked */

/*hover*/
.menu-8 .menu:hover .menu_part:nth-child(1) {transition:all 0.2s ease; transform: translateY(-2px);} 
.menu-8 .menu:hover .menu_part:nth-child(2) {transition:all 0.2s ease; transform: translateY(2px);} 
/* //hover*/

/*!
 * showroom
 * 
 * css - hamburger menu-9
 */ 
/*///////////////////////보류//////////////////////////////*/
/* #menu-9 { 
  display: none;
 }
.menu-9 .menu { 
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
 }

 path {
  fill: none;
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all .8s cubic-bezier(.645, .045, .355, 1);
}

.circle-9 {
  width: 50px;
  height: 50px;
  fill: #fff3;
  opacity: 0;
}

label:hover .circle-9 {
  opacity: 1;
}

input#menu-9:checked + label .menu .line--1,
input#menu-9:checked + label .menu .line--3 {
  --length: 22.627416998;
}

input#menu-9:checked + label .menu .line--2 {
  --length: 0;
}

.menu--1 .line--1,
.menu--1 .line--3 {
    --total-length: 126.64183044433594;
}
.menu--1 .line--2 {
    --total-length: 70;
}
  
input#menu-9:checked + label .menu .line--1,
input#menu-9:checked + label .menu .line--3 {
  --offset: -94.1149185097;
}
input#menu-9:checked + label .menu .line--2 {
  --offset: -50;
} */
/*///////////////////////보류//////////////////////////////*/



/*!
 * showroom
 * 
 * css - hamburger menu-9
 */ 

 #menu-9 {
  display: none;
 } 
 .menu-9 .menu {
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
 }
 .menu-9 .menu .menu_part {
  width: 30px; 
  height: 2px; 
  position: absolute;  
  background-color: #000;
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 0px;
  transition: all 0.48s cubic-bezier(0.5, 0, 0.4, 1.9);
}

/* 간격(gap)은 6px로 고정 */
.menu-9 .menu_part:nth-of-type(1) {
	top: calc(50% - ((2.5px)) + -2px);
	width: 30px
}
.menu-9 .menu_part:nth-of-type(2) {
	top: calc(50% - ((2.5px)) + 4px);
	width: 30px
}
.menu-9 .menu_part:nth-of-type(3) {
  top: calc(50% - ((2.5px)) + 10px);
	width: 30px
}

/* checked */
input#menu-9:checked + label .menu .menu_part:nth-of-type(1) {
  transform: rotate(405deg);
  top: calc(50% - (1px))!important;
}
input#menu-9:checked + label .menu .menu_part:nth-of-type(2) {
  opacity: 0;
}
input#menu-9:checked + label .menu .menu_part:nth-of-type(3) {
  top: calc(50% - (1px))!important;
  transform: rotate(-405deg);
}/* //checked */


/*!
 * showroom
 * 
 * css - hamburger menu-10
 */ 

 #menu-10 {
  display: none;
 } 
 .menu-10 .menu {
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
 }
 .menu-10 .menu .menu_part {
  background-color: #000;
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 0px;
  transition: all 0.48s cubic-bezier(0.5, 0, 0.4, 1.9);
  opacity: 1;
 }

/* 간격(gap)은 6px로 고정 */
.menu-10 .menu_part_top .menu_part_left { /* 첫번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + -2px);
  left: 10px;
}
.menu-10 .menu_part .menu_part_left { /* 두번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 4px);
  left: 10px;
}
.menu-10 .menu_part_bottom .menu_part_left { /* 세번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 10px);
  left: 10px;
}
.menu-10 .menu_part_top .menu_part_right { /* 첫번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + -2px);
  right: 10px;
}
.menu-10 .menu_part .menu_part_right { /* 두번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 4px);
  right: 10px;
}
.menu-10 .menu_part_bottom .menu_part_right { /* 세번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 10px);
  right: 10px;
}


/*check*/
input#menu-10:checked + label .menu_part_top .menu_part_left {
  width: 18px;
  top: calc(50% - (6px))!important;
  transform: rotateZ(45deg);
}
input#menu-10:checked + label .menu_part_top .menu_part_right {
  width: 18px;
  top: calc(50% - (6px))!important;
  transform: rotateZ(-45deg);  
}
input#menu-10:checked + label .menu_part {
  opacity: 0;
}
input#menu-10:checked + label .menu_part_bottom .menu_part_left {
  width: 18px;
  top: calc(50% + (6px))!important;
  transform: rotateZ(-45deg);
}
input#menu-10:checked + label .menu_part_bottom .menu_part_right {
  width: 18px;
  top: calc(50% + (6px))!important;
  transform: rotateZ(45deg);
} /* //check*/


/*!
 * showroom
 * 
 * css - hamburger menu-11
 */ 

 #menu-11 {
  display: none;
 } 
 .menu-11 .menu {
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
 }
 .menu-11 .menu .menu_part {
  background-color: #000;
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 0px;
  transition: all 0.48s cubic-bezier(0.5, 0, 0.4, 1.9);
  opacity: 1;
 }

/* 간격(gap)은 6px로 고정 */
.menu-11 .menu_part_top .menu_part_left { /* 첫번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + -2px);
  left: 10px;
}
.menu-11 .menu_part .menu_part_left { /* 두번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 4px);
  left: 10px;
}
.menu-11 .menu_part_bottom .menu_part_left { /* 세번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 10px);
  left: 10px;
}
.menu-11 .menu_part_top .menu_part_right { /* 첫번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + -2px);
  right: 10px;
}
.menu-11 .menu_part .menu_part_right { /* 두번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 4px);
  right: 10px;
}
.menu-11 .menu_part_bottom .menu_part_right { /* 세번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 10px);
  right: 10px;
}


/*check*/
input#menu-11:checked + label .menu_part_top .menu_part_left {
  width: 18px;
  top: calc(50% - (6px))!important;
  transform: rotateZ(45deg);
}
input#menu-11:checked + label .menu_part_top .menu_part_right {
  width: 18px;
  top: calc(50% - (6px))!important;
  transform: rotateZ(-45deg);  
}
input#menu-11:checked + label .menu_part {
  opacity: 0;
}
input#menu-11:checked + label .menu_part_bottom .menu_part_left {
  width: 18px;
  top: calc(50% + (6px))!important;
  transform: rotateZ(-45deg);
}
input#menu-11:checked + label .menu_part_bottom .menu_part_right {
  width: 18px;
  top: calc(50% + (6px))!important;
  transform: rotateZ(45deg);
} /* //check*/

/*hover*/
.menu-11 .menu:hover .menu_part_top .menu_part_right{transition:all 0.2s ease; transform: translateY(-2px);} 
.menu-11 .menu:hover .menu_part_top .menu_part_left{transition:all 0.2s ease; transform: translateY(-2px);}
.menu-11 .menu:hover .menu_part_bottom .menu_part_left{transition:all 0.2s ease; transform: translateY(2px);} 
.menu-11 .menu:hover .menu_part_bottom .menu_part_right{transition:all 0.2s ease; transform: translateY(2px);} 
/* //hover*/



/*!
 * showroom
 * 
 * css - hamburger menu-12
 */ 

 #menu-12 {
  display: none;
 } 
 .menu-12 .menu {
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
 }
 .menu-12 .menu .menu_part {
  background-color: #000;
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 0px;
  transition: all 0.48s cubic-bezier(0.5, 0, 0.4, 1.9);
  opacity: 1;
 }

/* 간격(gap)은 6px로 고정 */
.menu-12 .menu_part_top .menu_part_left { /* 첫번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + -2px);
  left: 10px;
}
.menu-12 .menu_part .menu_part_left { /* 두번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 4px);
  left: 10px;
}
.menu-12 .menu_part_bottom .menu_part_left { /* 세번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 10px);
  left: 10px;
}
.menu-12 .menu_part_top .menu_part_right { /* 첫번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + -2px);
  right: 10px;
}
.menu-12 .menu_part .menu_part_right { /* 두번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 4px);
  right: 10px;
}
.menu-12 .menu_part_bottom .menu_part_right { /* 세번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 10px);
  right: 10px;
}


/*check*/
input#menu-12:checked + label .menu_part_top .menu_part_left {
  width: 18px;
  top: calc(50% - (6px))!important;
  transform: rotateZ(45deg);
}
input#menu-12:checked + label .menu_part_top .menu_part_right {
  width: 18px;
  top: calc(50% - (6px))!important;
  transform: rotateZ(-45deg);  
}
input#menu-12:checked + label .menu_part .menu_part_left {
  left: -50%;
  opacity: 0;
}
input#menu-12:checked + label .menu_part .menu_part_right {
  right: -50%;
  opacity: 0;
}
input#menu-12:checked + label .menu_part_bottom .menu_part_left {
  width: 18px;
  top: calc(50% + (6px))!important;
  transform: rotateZ(-45deg);
}
input#menu-12:checked + label .menu_part_bottom .menu_part_right {
  width: 18px;
  top: calc(50% + (6px))!important;
  transform: rotateZ(45deg);
} /* //check*/


/*!
 * showroom
 * 
 * css - hamburger menu-13
 */ 

 #menu-13 {
  display: none;
 } 
 .menu-13 .menu {
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
 }
 .menu-13 .menu .menu_part {
  background-color: #000;
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 0px;
  transition: all 0.48s cubic-bezier(0.5, 0, 0.4, 1.9);
  opacity: 1;
 }

/* 간격(gap)은 6px로 고정 */
.menu-13 .menu_part_top .menu_part_left { /* 첫번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + -2px);
  left: 10px;
}
.menu-13 .menu_part .menu_part_left { /* 두번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 4px);
  left: 10px;
}
.menu-13 .menu_part_bottom .menu_part_left { /* 세번째 줄 왼쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 10px);
  left: 10px;
}
.menu-13 .menu_part_top .menu_part_right { /* 첫번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + -2px);
  right: 10px;
}
.menu-13 .menu_part .menu_part_right { /* 두번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 4px);
  right: 10px;
}
.menu-13 .menu_part_bottom .menu_part_right { /* 세번째 줄 오른쪽 선 */
  position: absolute;
  content: "";
  transition-duration: 0.5s;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: calc(50% - ((2.5px)) + 10px);
  right: 10px;
}


/*check*/
input#menu-13:checked + label .menu_part_top .menu_part_left {
  width: 18px;
  top: calc(50% - (6px))!important;
  transform: rotateZ(45deg);
}
input#menu-13:checked + label .menu_part_top .menu_part_right {
  width: 18px;
  top: calc(50% - (6px))!important;
  transform: rotateZ(-45deg);  
}
input#menu-13:checked + label .menu_part .menu_part_left {
  left: -50%;
  opacity: 0;
}
input#menu-13:checked + label .menu_part .menu_part_right {
  right: -50%;
  opacity: 0;
}
input#menu-13:checked + label .menu_part_bottom .menu_part_left {
  width: 18px;
  top: calc(50% + (6px))!important;
  transform: rotateZ(-45deg);
}
input#menu-13:checked + label .menu_part_bottom .menu_part_right {
  width: 18px;
  top: calc(50% + (6px))!important;
  transform: rotateZ(45deg);
} /* //check*/

/*hover*/
.menu-13 .menu:hover .menu_part_top .menu_part_right{transition:all 0.2s ease; transform: translateY(-2px);} 
.menu-13 .menu:hover .menu_part_top .menu_part_left{transition:all 0.2s ease; transform: translateY(-2px);}
.menu-13 .menu:hover .menu_part_bottom .menu_part_left{transition:all 0.2s ease; transform: translateY(2px);} 
.menu-13 .menu:hover .menu_part_bottom .menu_part_right{transition:all 0.2s ease; transform: translateY(2px);} 
/* //hover*/


/*!
 * showroom
 * 
 * css - hamburger menu-14
 */ 

 #menu-14 {
  display: none;
 } 
 .menu-14 .menu {
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
 }
 .menu-14 .menu .menu_part {
  width: 30px; 
  height: 2px; 
  position: absolute;  
  background-color: #000;
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 0px;
  transition: all 0.48s cubic-bezier(0.5, 0, 0.4, 1.9);
}

/* 간격(gap)은 6px로 고정 */
.menu-14 .menu_part:nth-of-type(1) {
	top: calc(50% - ((2.5px)) + -2px);
	width: 30px
}
.menu-14 .menu_part:nth-of-type(2) {
	top: calc(50% - ((2.5px)) + 4px);
	width: 30px
}
.menu-14 .menu_part:nth-of-type(3) {
  top: calc(50% - ((2.5px)) + 10px);
	width: 30px
}

/* checked */
input#menu-14:checked + label .menu {
}
input#menu-14:checked + label .menu .menu_part:nth-of-type(1) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: calc(50% - (1px))!important;
}
input#menu-14:checked + label .menu .menu_part:nth-of-type(2) {
  opacity: 0;
  left: -60px;
}
input#menu-14:checked + label .menu .menu_part:nth-of-type(3) {
  top: calc(50% - (1px))!important;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* //checked */



/*!
 * showroom
 * 
 * css - hamburger menu-15
 */ 

 #menu-15 {
  display: none;
 } 
 .menu-15 .menu {
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
 }
 .menu-15 .menu .menu_part {
  width: 30px; 
  height: 2px; 
  position: absolute;  
  background-color: #000;
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 0px;
  transition: all 0.48s cubic-bezier(0.5, 0, 0.4, 1.9);
}

/* 간격(gap)은 6px로 고정 */
.menu-15 .menu_part:nth-of-type(1) {
	top: calc(50% - ((2.5px)) + -2px);
	width: 30px;
  transition: all 0.48s ease-in-out;
}
.menu-15 .menu_part:nth-of-type(2) {
	top: calc(50% - ((2.5px)) + 4px);
	width: 30px;
  transition: all 0.48s ease-in-out;
}
.menu-15 .menu_part:nth-of-type(3) {
	top: calc(50% - ((2.5px)) + 4px);
	width: 30px;
  transition: all 0.48s ease-in-out;
}
.menu-15 .menu_part:nth-of-type(4) {
  top: calc(50% - ((2.5px)) + 10px);
	width: 30px;
  transition: all 0.48s ease-in-out;
}

/* checked */
input#menu-15:checked + label .menu .menu_part:nth-of-type(1) {
  width: 0%;
  left: -50%;
  opacity: 0;
}
input#menu-15:checked + label .menu .menu_part:nth-of-type(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

input#menu-15:checked + label .menu .menu_part:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input#menu-15:checked + label .menu .menu_part:nth-of-type(4) {
  width: 0%;
  right: -50%;
  opacity: 0;
}
/* //checked */


/*!
 * showroom
 * 
 * css - hamburger menu-16
 */ 

 #menu-16 {
  display: none;
 } 
 .menu-16 .menu {
  transition: all 0.14s;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
 }
 .menu-16 .menu .menu_part {
  width: 30px; 
  height: 2px; 
  position: absolute;  
  background-color: #000;
  right: 0;
  margin: auto;
  left: 0;
  border-radius: 0px;
  transition: all 0.48s cubic-bezier(0.5, 0, 0.4, 1.9);
}

/* 간격(gap)은 6px로 고정 */
.menu-16 .menu_part:nth-of-type(1) {
	top: calc(50% - ((2.5px)) + -2px);
	width: 30px;
  transition: transform 0.48s ease-in-out;
}
.menu-16 .menu_part:nth-of-type(2) {
	top: calc(50% - ((2.5px)) + 4px);
	width: 30px;
}
.menu-16 .menu_part:nth-of-type(3) {
  top: calc(50% - ((2.5px)) + 10px);
	width: 30px;
  transition: transform 0.48s ease-in-out;
}

/* checked */

input#menu-16:checked + label .menu .menu_part:nth-of-type(1) {
  top: calc(50% + 2px);
  transform: rotate(45deg);
}
input#menu-16:checked + label .menu .menu_part:nth-of-type(2) {
  opacity: 0;
}
input#menu-16:checked + label .menu .menu_part:nth-of-type(3) {
  top: calc(50% + 2px);
  transform: rotate(-45deg);
}
/* //checked */